<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
  <a class="navbar-brand" href="/home"><img class="brandname" src="../../../assets/images/brand_name.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nav-bar text-light" active="active-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-bar text-light" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" routerLink="/about">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-bar text-light" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" routerLink="/service">Services<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-bar text-light" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" routerLink="/contact">Contact<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-bar text-light" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" routerLink="/login">Login<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  
  </div>
  </div>
</nav>
  <div class="otherheader "></div>
  <style>
    
  </style>
  